* {
    margin: 0;
    padding: 0;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

body {
    background-color: antiquewhite;
}

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
    top: 0;
    width: 100%;
  }
  
  .navlist {
  border-right: 1px solid #bbb;
  list-style: none;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: salmon;
  }

  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/Photos/HS2.JPG");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

.aboutme-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
    border: 5px solid green;
}

.portion-style {
    margin: 20px;
    padding: 20px;
    border: 5px solid green;
}

.abouthead{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .project:first-child {
    width: 100%;
  }

  .project {
    position: relative;
    width: calc(50% - 0.125rem);
  }

  .project img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(0.5);
  }

  .project img:hover {
    filter: grayscale(0);
  }

  .project-label {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
    background-color:blueviolet;
  }


 footer {
  background-color:lightcoral;
 }